In [3]:
5 is 10

False

In [4]:
'ruthu' is not 'ruthu'

False

In [5]:
5 in [1,9,4,7]

False

In [6]:
2 in [1,2,4,7,0]

True

In [18]:
range(10) # minimum 1 parameter

range(0, 10)

In [16]:
range(2,10,2) # range method consists of max 3 parameters

range(2, 10, 2)

In [15]:
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [27]:
for x in range(2,20,2):
    print(x,end=" ")

2 4 6 8 10 12 14 16 18

In [1]:
num=1
while num<6:
    print(num)
    num+=1

1
2
3
4
5

In [2]:
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [4]:
for i in 1,2,3,5,6,7:
    print(i)

1
2
3
5
6
7

In [8]:
for i in range(20,6,-3):
    print(i,end=" ")

20 17 14 11 8

In [11]:
for ch in "ruthu":
    print(ch,end=" ")

r u t h u

In [18]:
print(1,3)

1 3

In [27]:
print(1,5,sep=",")# separated by special character and those are called delimeters
print(1,5,sep="*")
print(3,4) # prints 3 and 4 with space
print(3,sep=";") # sep works only if print has more than 1 element
print(1,2,sep=",",end="*")

1,5
1*5
3 4
3
1,2*

In [29]:
#input () is used to take from user/keyboard
input("Enter value:")

Enter value:ruthu

'ruthu'

In [32]:
n=input("Enter value:")
print(n,type(n))

Enter value:23.56
23.56 <class 'str'>

In [34]:
n=5
bin(n) # binary value

'0b101'

In [48]:
 # because of different datatypes
4+9

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
4+"5" # Error is because of different datatypes

In [49]:
4+int("657")

661

In [46]:
n=56789
print(n)
print(N)

56789

NameError: name 'N' is not defined

In [54]:
l=[1,0,67,56789]
l[4] # Returns error msg because 4th index variable is not there

IndexError: list index out of range

In [60]:
# program to print count'n' values
n=int(input())
count=0
for i in range(1,n+1):
    v=int(input())
    count+=1
print("count is ",count)

5
76
4
2
4
9
count is  5

In [1]:
n=int(input())
li=[]
for i in range(1,n+1):
    a=int(input())
    li.append(a)
print(li)
print("lenght is ",len(li))

4
1
3
6
8
[1, 3, 6, 8]
lenght is  4

In [4]:
print(len(input().split(" ")))  # gives the length of string taken

ru thu meda
3

In [4]:
data=input()
count=0
s=0
for ch in data.split(" "):
    s+=int(ch)
    count+=1
    print(ch,end=" ")
print(" ",s/count)

3 4 8
3 4 8   5.0

In [7]:
data.split(" ")

['12', '34', '6', '7', '990']

In [8]:
data=input() # 1 3 5 7 9
len(data)

56789

5

In [1]:
for i in 1,2,3,4:
    print(i)
print(i)

1
2
3
4
4

In [3]:
n=int(input())
sum=0
while n>0:
    r=n%10
    sum+=r
    n//=10
print(sum)

12345
15

In [3]:
n=input()
sum=0
for v in n.split(','):
    sum+=int(v)
print(sum)

1,2,4,5,8
20

In [4]:
data=input()
values=data.split(",")
s=0
for v in values:
    s+=int(v)
print(s)

5,5,6,7
23

In [3]:
d=input()
v=d.split(",")
# map(method name,list of values) -> converts the values into that datatype
int_values=list(map(int,v)) # -> list of values called by map function
sum(int_values) # sums the entire list

1,2,3,4,5

15

In [6]:
li=[1,2,3,4]
r=[]
for value in li:
    r.append(int(value))
print(r)
sum(r)

[1, 2, 3, 4]

10

In [2]:
d=input()
li=[]
for value in d.split("+"):
    li.append(int(value))
print("minimum value is ",min(li))
print("maximum value is ",max(li))

1+2+15+63+6567
minimum value is  1
maximum value is  6567

In [5]:
v=input().split("+")
li=list(map(int,v))
print(min(li))
print(max(li))

1+2+3
1
3

In [8]:
# number of test cases:3
# next t lines we have to take input
3 
4+5 -> 4\n5
5+77+0 -> 0\n 77
5+7 ->5\n 7

SyntaxError: invalid syntax (<ipython-input-8-40b97bd23438>, line 4)

In [17]:
t=int(input())
for i in range(1,t+1):
    s=input().split("+")
    li=list(map(int,s))
    print(min(li))
    print(max(li))

3
4+5
4
5
5+77+0
0
77
5+7
5
7

First line:  that denotes the number of test cases ()
For each test case: 
First line: Cost of green and purple-colored balloons 
Second line:  that denotes the number of participants ()

In [1]:
t=int(input())
for i in range(t):
    b=input()
    g_bal,p_bal=list(map(int,input().split()))
    participants=int(input())
    for j in range(participants):
        status=list(map(input().split()))
        print(status)

2
9 6
1 2
2 3

ValueError: invalid literal for int() with base 10: '2 3'

In [ ]:
t=int(input())
for i in range(t):
    balloons=input().split()
    n=int(input())
    p_c=f[1]

Mahesh
1 3
ehaMesh

In [ ]:
a=[1,10]
a[:]