### 1st question

In [4]:
n=input()
reverse_n=n[::-1]
#print(reverse_n)
for char in reverse_n:
    print(char)

123
3
2
1

In [5]:
n=int(input())
while n>0:
    rem=n%10
    n=n//10
    print(rem)

123
3
2
1

In [9]:
 for char in input()[::-1]:
        print(char)

123
3
2
1

### 3rd question

In [14]:
# Ayyappa Bandi -> input
# B. Ayyappa -> output
names=input().split(" ")
reverse=names[::-1]
#print(reverse)
print(reverse[0][0],names[0],sep=". ")

Ruthu Meda
M. Ruthu

In [7]:
f_lname=input()
lname,fname=f_lname.split(" ")[::-1]
print(lname[0],fname,sep=". ")

Ayyspps Bandi
B. Ayyspps

### 2md question

In [ ]:
marks=input().split(" ")
marks_list=list(map(int,marks))
s=sum(marks_list)
l=len(marks_list)
avg=s/l
print(avg)

In [3]:
marks=input()
count=0
s=0
for ch in marks.split(","):
    s+=int(ch) # s=s+int(ch)
    count+=1
    #print(ch,end=" ")
print(" ",s/count)

20,30,45
  31.666666666666668

In [19]:
s="45"
s2='5'
print(int(s)+int(s2)) # int just returning the value but it does not convert the type of value
print(type(s))

50
<class 'str'>

### Strings in Python 
- Immutable in nature means does not change

In [22]:
s="Python Programming"
print(len(s))

18

In [23]:
s[20]

IndexError: string index out of range

In [24]:
s[-1]

'g'

In [25]:
s[-3]

'i'

In [41]:
s[5:0:-1]

''

In [44]:
s[-1::-1]

'gnimmargorP nohtyP'

In [45]:
s[::-1]

'gnimmargorP nohtyP'

In [32]:
s[-5]

'm'

In [33]:
s[0]='r'
print(s[0]) # We cannot change the variable

TypeError: 'str' object does not support item assignment

In [34]:
s[1:13]

'ython Progra'

In [36]:
s[7:18]

'Programming'

In [39]:
s[1:18:2]

'yhnPormig'

In [42]:
s[:]

'Python Programming'

#### Methods in strings

In [60]:
s="RuThU"
s2="Meda"
print(type(s))
print(s.lower()) 
print(s.upper())
print(str.lower(s2)) # Here we are not converting the string just it returns the string
print(str.upper(s2))
print(s)
print(s2)
st=s.lower()  # Converting the string through assignment
print(st)

<class 'str'>
ruthu
RUTHU
meda
MEDA
RuThU
Meda
ruthu

### str.startswith(sub_string)

In [8]:
s="RuThU"
s

'RuThU'

In [9]:
print(s.startswith('R'))
print(s.startswith("r"))
print(s.startswith('RuT'))

True
False
True

In [11]:
s="python"
sub="P"
if sub.islower():
    sub=sub.upper()
    print("True")
elif sub.isupper():
    sub=sub.islower()
    print("True")

True

In [15]:
m="python"
sub='P'
print(s.startswith(sub.lower()))

True

In [18]:
s2='PythoN'.lower()
sub='p'.lower()
print(s2.startswith(sub))

True

In [19]:
main="Python Programming"
print(main.endswith('g'))

True

In [20]:
main="Python Programming"
print(main.endswith('gramming'))

True

In [21]:
main="Python Programming"
print(main.endswith('Python Programming'))

True

In [22]:
main="Python Programming"
print(main.startswith('Python Programming'))

True

### isdigit()

In [25]:
s="2345"
print(s.isdigit())

True

In [27]:
st="123abc"
print(st.isdigit())

False

In [33]:
s=input("Enter number :")
if s.isdigit():
    print("Success",int(s))
else:
    print("I asked you to give no only")

Enter number :123fnkdl
I asked you to give no only

### str.split()

In [2]:
s="Python Programming"
res=s.split()
print(res,type(s))
print(res[1])

['Python', 'Programming'] <class 'str'>
Programming

### str.lstrip()

In [11]:
s="      Ruthu is"
res=s.lstrip()
print(len(s),len(res),res)

14 8 Ruthu is

In [10]:
s="Ruthu is a very good girl    "
res=s.rstrip()
print(len(s),len(res),res)

29 25 Ruthu is a very good girl

In [21]:
s="  I am from iiit-nuzvid  "
res=s.lstrip()
res2=res.rstrip()
print(len(s),len(res2),s)

25 21   I am from iiit-nuzvid

### str.isupper()

In [27]:
s="PythoN"
print(s.isupper())
s3="PYTHON"
print(s3.isupper())

False
True

### str.islower()

In [29]:
s2="ruthu"
print(s2.islower())
st="RUthu"
print(st.islower())

True
False

### str.isalpha()

In [30]:
s="python"
print(s.isalpha())

True

In [31]:
s="ruthu417"
s.isalpha()

False

In [33]:
s="meda RUTHU"
print(s.swapcase())

MEDA ruthu

### str.title()

In [35]:
s="meda ruthumma"
print(s.title())

Meda Ruthumma

### str.find(sub_string)

In [40]:
s="Pythonyu"
print(s.find('tho'))
print(s.find('m'))

2
-1

### str.replace(old,new)

In [48]:
s="python"
print(s.replace('n','oono'))
print(s)
print(s.replace('','2'))
print(s.replace(' ','ruthu'))

pythooono
python
2p2y2t2h2o2n2
python

### str.rfind(sub)

In [51]:
s="Python Programming"
print(s.rfind('o')) # Searching in reverse order but it will return index from first

9

### str.index(sub)

In [54]:
s="python"
print(s.index('n'))
print(s.index('hkjd'))

5

ValueError: substring not found

### str.join(seq/collection of items)

In [63]:
s=['p','y','t','h','o','n']
print("@".join(s)) # joing of string with @
print(s)
print("".join(s)) # joing the characters in a list into string

p@y@t@h@o@n
['p', 'y', 't', 'h', 'o', 'n']
python

### str.capitalize()

In [64]:
s="apssdc"
print(s[0].upper()+"".join(s[1:]))
print(s.capitalize())

Apssdc to
Apssdc to

In [65]:
s="python programming"
print(s.istitle())

False

In [67]:
t="Python Programming"
print(t.capitalize())

Python programming

In [69]:
s="python"
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [75]:
# Printing the'nth' multiplication table.
t=int(input())
n=int(input())
for i in range(1,n+1):
    print(t,"*",i,"=",t*i)

3
20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36
3 * 13 = 39
3 * 14 = 42
3 * 15 = 45
3 * 16 = 48
3 * 17 = 51
3 * 18 = 54
3 * 19 = 57
3 * 20 = 60

## Data Structures in Python
 - List
 - Tuple
 - String
 - Dictionary

### Lists:
- Mutable in nature
    - adding new ele,update and modifying ,removing of elements

In [76]:
li=[1,'abc',45.9]
li

[1, 'abc', 45.9]

In [77]:
dir(li) # Directory of list -> gives all pre-defined functions which are not under _.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [79]:
'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'
1
â€‹

IndentationError: unexpected indent (<ipython-input-79-978ff2ffa138>, line 2)

In [86]:
li.append(3) # adds the new element to the end of list
print(li)

[1, 'abc', 45.9, 89, 3]

In [87]:
li.insert(2,34) # adds the element at index
print(li)

[1, 'abc', 34, 45.9, 89, 3]

In [90]:
li[1]=23
li

[1, 23, 34, 45.9, 89, 3]

In [94]:
li[3]="ruth"
print(li)

[1, 23, 34, 'ruth', 89]

In [92]:
li[3]=12
print(li)

[1, 23, 34, 12, 89, 3]

In [93]:
li.pop() # Deletes the last element in the list
print(li)

[1, 23, 34, 12, 89]

In [95]:
li

[1, 23, 34, 'ruth', 89]

In [97]:
li.pop(3) # Returns the deleted element of given index
print(li)

[1, 23, 34]

In [105]:
li.append(23)
print(li)

[1, 34, 23, 23]

In [106]:
li.remove(23)

In [107]:
li

[1, 34, 23]

In [108]:
li.clear() # Deletes all the elements in a list and makes the list empty

In [109]:
li

[]

In [110]:
l2=[1,2,3,4]
print(l2)

[1, 2, 3, 4]

In [111]:
del l2

In [112]:
l2

NameError: name 'l2' is not defined

In [119]:
l=[1,2,3,4,65,34,12,23]
l.sort()
l

[1, 2, 3, 4, 12, 23, 34, 65]

In [121]:
l.sort(reverse=True) # Reversing the string
print(l)

[65, 34, 23, 12, 4, 3, 2, 1]

In [124]:
l[::-1]

[1, 2, 3, 4, 12, 23, 34, 65]

In [126]:
l.reverse()
l

[1, 2, 3, 4, 12, 23, 34, 65]

In [129]:
print(l[::-1])

[65, 34, 23, 12, 4, 3, 2, 1]

In [136]:
cpl=l
print(cpl,l)

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345] [65, 34, 23, 12, 4, 3, 2, 1, 345, 345]

In [137]:
print(cpl.append(67),l)

None [65, 34, 23, 12, 4, 3, 2, 1, 345, 345, 67]

In [138]:
l

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345, 67]

In [139]:
l.pop()
print(l)

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345]

In [141]:
cl2=l.copy()
print(cl2,l)

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345] [65, 34, 23, 12, 4, 3, 2, 1, 345, 345]

In [142]:
print(cl2.append(1000),l)

None [65, 34, 23, 12, 4, 3, 2, 1, 345, 345]

In [143]:
cl2

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345, 1000]

In [144]:
l

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345]

In [145]:
cl2.remove(345)

In [146]:
cl2

[65, 34, 23, 12, 4, 3, 2, 1, 345, 1000]

In [147]:
l.extend(cl2)  # Cl2 is added to l means list l is extended
print(l)

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345, 65, 34, 23, 12, 4, 3, 2, 1, 345, 1000]

In [148]:
l.append(cl2)
print(l)

[65, 34, 23, 12, 4, 3, 2, 1, 345, 345, 65, 34, 23, 12, 4, 3, 2, 1, 345, 1000, [65, 34, 23, 12, 4, 3, 2, 1, 345, 1000]]

In [163]:
print(l[-1])
print(l[-1][2])

[65, 34, 23, 12, 4, 3, 2, 1, 345, 1000]
23

In [165]:
li=[1,2,2,3,5,6,5,4] 
li

[1, 2, 2, 3, 5, 6, 5, 4]

In [169]:
print(li.count(1))
print(li.count(5))
print(li.count(6))

1
2
1

In [170]:
li.insert(3,[9,8,7])
print(li)

[1, 2, 2, [9, 8, 7], 3, 5, 6, 5, 4]

In [171]:
li.pop(3)
print(li)

[1, 2, 2, 3, 5, 6, 5, 4]

In [172]:
for i in [7,9,8]:
    li.insert(1,i)
print(li)

[1, 8, 9, 7, 2, 2, 3, 5, 6, 5, 4]

In [179]:
li2=[1,2,3,4]
r=li2[::-1]
for i in r:
    li.insert(1,i)
print(li)

[10, 1, 2, 3, 4, 7, 8, 9, 10, 9, 8, 7]

In [182]:
print(sum(li))
print(min(li))
print(max(li))

78
1
10

In [1]:

def sumOfList(lt):
    return sum(lt)


t=int(input())
for i in range(t):
    li=list(map(int,input().split()))
    #print(sum(li))
    s=sumOfList(li)
    l=len(li)
    print(s/l)

3
4 2 5 6 7
4.8
45 23 76
48.0
23 34 12 45 67
36.2

In [2]:
abs(98.7)

98.7